<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Spotify POC 1.0</title>

	<link rel="stylesheet" href="%% url_for('static', filename='css/bootstrap.css') %%">
	<link rel="stylesheet" href="%% url_for('static', filename='css/font-awesome.css') %%">
	<link rel="stylesheet" href="%% url_for('static', filename='css/style.css') %%">
</head>

<body ng-app="angular-spotify" ng-controller="OneCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="%% url_for('spotify_api.index') %%">
              Spotify POC
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <% if not session.user_info %>
                    <a href="%% url_for('spotify_api.connect') %%" style="adding-top: 13px; padding-bottom: 0; height: 50px; display: block;">
                        <span style="width: 30%;">Login</span>
                    </a>
                <% else %>
                    <a href="%% url_for('spotify_api.logout') %%" style="text-align:right;padding-top: 2px;padding-bottom: 0;">
                        <img src="%% session.user_info.images[0].url %%" alt="%% session.user_info.display_name %%" style="width: 30%;" />
                    </a>
                <% endif %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
<div class="container">
    <h1>Search for an Artist</h1>
    <p>Type an artist name and click on "Search". Then, click on any album from the results to play 30 seconds of its first track.</p>
    <form id="search-form">
        <input type="text" id="query" value="" class="form-control" placeholder="Type an Artist Name"/>
        <input type="submit" id="search" class="btn btn-primary" value="Search" />
    </form>
    <div id="results"></div>
</div>
<script id="results-template" type="text/x-handlebars-template">
    {{#each albums.items}}
    <div style="background-image:url({{images.0.url}})" data-album-id="{{id}}" class="cover"></div>
    {{/each}
      </div>
    </div>

	<!-- vendor and app scripts -->
	<script src="%% url_for('static', filename='js/vendor.min.js') %%"></script>
	<script src="%% url_for('static', filename='js/app.js') %%"></script>

</body>
</html>